html,
body {
    height: auto;
    background: linear-gradient(0deg, #f7f9ee, #eafcf2);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.banner__img {
    width: 100%;
}

.request-block {
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    padding: 40px 0 30px 0;
}

.request-block__label {
    text-align: right;
    line-height: 30px;
}

.request-block__text {
    width: 100%;
    height: 30px;
    background-color: #fbfbfb;
    border: 1px solid #c7c5c5;
}

.request-block__button {
    height: 50px;
    border-radius: 50px;
    padding: 0px 75px;
    background: linear-gradient(0deg, #ffc360, #fff785);
    border: none;
    -webkit-box-shadow: 0px 1px 0px 1px rgba(170,132,31,1);
    -moz-box-shadow: 0px 1px 0px 1px rgba(170,132,31,1);
    box-shadow: 0px 1px 0px 1px rgba(170,132,31,1);
    text-transform: uppercase;
    outline: none;
}

.request-block__link {
    line-height: 30px;
    border-bottom: 1px dotted;
}

.request-block__top {
    position: absolute;
    top: -10px;
    right: -10px;
}

.thanks-block {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    box-shadow: 0px 0px 10px 5px rgba(204,200,204,1);
    padding: 37px;
    margin-top: 38px;
    margin-bottom: 38px;
}

.thanks-block__head {
    color: #00675d;
    text-align: center;
    margin-bottom: 25px;
}

.thanks-block__head > h3 {
    margin: 0 0 0 13px;
}

.thanks-block__body {
    margin-bottom: 25px;
}

.thanks-block__element {
    margin-bottom: 17px;
}






